* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #4c6ef5, #15aabf);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: #fff;
    width: 90%;
    max-width: 500px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.task-input {
    display: flex;
    gap: 10px;
}

.task-input input, 
.task-input select {
    padding: 10px;
    flex: 1;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.task-input button {
    padding: 10px 18px;
    background: #4c6ef5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filter-area {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #f1f3f5;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 6px solid;
}

.High { border-color: #e03131; }
.Medium { border-color: #f08c00; }
.Low { border-color: #2f9e44; }

.delete-btn {
    background: #e03131;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}